[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*" #Disable if in M1 or use pip3 install -i https://test.pypi.org/simple psycopg2-binary==2.9.0.dev0 and hope that it works
[dev-packages]

[requires]
python_version = "3.8"
